@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Montserrat:wght@800&family=Roboto&display=swap")





@import url("components/container.css");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-fmaily:  'helvetica', serif;
	font-size:  18px;
	margin:  0px;

}
h1, h2, h3 {
	font-family:  'Arvo', sans-serif;
	font-weight:  bold;
}

a{
	text-decoration:  none;

}